@import 'variable';
@import 'media_queries';
@import 'navbar';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: $light;
    width: 100vw;
    height: 100vh;
    align-items: center;
    
    &__cont1{
        line-height: 1.5;
        width: 90%;
        padding-top: 2.5rem;
        padding-left: 0.5rem;
        h1{
            color: $darkblue;
        }
        h2{
            color: $darkgreen;
        }
        p{
            color: $dark;
        }
        &--btn{
            padding: 12px 10px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: $lightgreen;
            color: $darkblue;
            width: 120px;
            text-align: center;
            margin: 10px 0;
            font-weight: 600;

            &:hover{
                background: $darkgreen;
                color: $light;
            }

        }
    }

    &__cont2{

    }
}
